<section class="hero is-primary is-bold is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <p class="title is-1 has-text-centered">
        <i class="fas fa-gamepad"></i> PokéDB
      </p>
    </div>
  </div>
</section>