<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Manage Types
      </h1>
      <h2 class="subtitle">
        Every Pokémon and Move has a type. You can add and edit them below.
      </h2>
    </div>
  </div>
</section>

<!-- BEGIN TYPES -->
<section class="section">
    <div class="container">
    <div class="columns">

    <div class="column"></div>

    <div class="box column">
        <table class="table is-fullwidth">
            <tbody>
                {{#each types}}
                <tr>
                    <td><span style="color:{{color}}"><strong>{{name}}</strong></span></td>
                    <td class="has-text-right">
                        {{!-- <button class="button is-light is-rounded">Edit</button> --}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="column"></div>

    </div>
    </div>
</section>
<!-- END TYPES -->



<!-- BEGIN MODAL FORM -->
<button class="button is-rounded is-info is-medium" id="showModal">
    <span class="icon"><i class="fas fa-plus"></i></span>
    <span>Add Type</span>
</button>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
      <div class="box">
            <h3 class="title">Add a Type</h3>
            <hr>
            <form METHOD="POST" ACTION="/type">
            <div class="field">
                <label class="label">Type</label>
                <div class="control">
                <input class="input" type="text" name="name" placeholder="type" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Color</label>
                <div class="control">
                <input class="input" type="color" name="color" required>
                </div>
            </div>
            
            <hr>
            <button class="button is-info is-fullwidth">Add Type</button>
        </form>
      </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
<!-- END MODAL FORM -->

<!-- BEGIN SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/scripts/main.js"></script>
<!-- END SCRIPTS -->